.staff-page {
  margin-left: 240px; /* same as sidebar width */
  padding: 1.5rem;
  min-height: 100vh;
  background-color: #873e23; /* dashboard brown */
  color: #ffffff;
}

.ticket-section {
  margin-bottom: 1.5rem;
}

select,
textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  border-radius: 4px;
  border: none;
}

textarea {
  min-height: 120px;
}

.primary-btn {
  background-color: #e28743;
  color: #0f172a;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
