.admin-page {
  padding: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.status.pending {
  color: #e28743;
}

.status.active {
  color: green;
}

.status.rejected {
  color: red;
}

.approve-btn {
  background: #e28743;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.reject-btn {
  background: #873e23;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}
