.layout {
  display: flex;
}

/* Main content */
.content {
  margin-left: 240px;
  padding: 20px;
  width: 100%;
}

/* Mobile fix */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding-top: 60px;
  }
}
